<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oncology Reference Guide</title>
    <link rel="stylesheet" href="/main.css"/>
    <link rel="icon" href="https://i.imgur.com/yKkMkmi.png" />
</head>
<body class="container">
  <%- include('./partials/_nav.ejs') %>
  <% if (user) { %>
        <h1>Welcome to Oncology Medication Reference Guide, <%= user.username %>!</h1>
        <div class="text">
          Welcome to the dedicated app to help you organize and store crucial information about medications that you use as a nurse.
          With only a few clicks you can be on your way to making customized drug profiles that include the generic & trade name, notes, 
          indicate if the drug is reactive, and different indications. You can even add more specific indications as needed.
          As a member, you also will have access to the library of medications made by fellow nurses. 
          <br>
          <br>
          Say goodbye to fumbling through notes. With this app you can quickly access the most important information 
          so that you can provide the best care to your patients. What are you waiting for? Join now! 
          <br>
          <br>
          Join now!
        </div>
      <% } else { %>
        <h1>Welcome to Oncology Medication Reference Guide! </h1>
        <div class="text">
          Welcome to the dedicated app to help you organize and store crucial information about medications that you use as a nurse.
          With only a few clicks you can be on your way to making customized drug profiles that include the generic & trade name, notes, 
          indicate if the drug is reactive, and different indications. You can even add more specific indications as needed.
          As a member, you also will have access to the library of medications made by fellow nurses. 
          <br>
          <br>
          Say goodbye to fumbling through notes. With this app you can quickly access the most important information 
          so that you can provide the best care to your patients. What are you waiting for? Join now! 
          <br>
          <br>
          Join now!
        </div>
      <% } %>
</body>
</html>