@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.container {
    display: grid;
    grid-template-columns: [clm1] 20% [clm2] auto [clm3] 20%;
    grid-template-rows: .1fr .2fr auto .25fr;
    margin: 0px;
    grid-template-areas: 
    "nav nav nav"
    ". header ."
    ". body ."
    ". . .";
    background-image: url(https://i.imgur.com/su9RM4H.png);
    background-repeat: no-repeat;
}
#nav {
    grid-area: nav;
    background-color:#C2A4A3;
    /* padding: 1rem; */
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    pointer-events:painted;
    font-size: larger;
    padding: 0px;
    height: 0.1fr;
    align-items: center;
}

h1 {
    grid-area: header;
    background-color:#FBF2ED;
    padding: 2rem;
    text-align: center;
    box-shadow: 10px 5px 5px rgba(191, 187, 187, 0.781);
}

.text {
    grid-area: body;
    background-color:#fbf2edf3;
    padding: 2rem;
    font-family: "Gilda Display" 'Times New Roman';
    font-size: x-large; 
    display: block;
    box-shadow: 10px 5px 5px rgba(191, 187, 187, 0.781);
}
 a {
    text-decoration: none;
    color: black;
 }

 a:hover, a:active {
    transform: scale(1.2);
 }

#nav a{
    text-decoration: none;
    font-family: "Josefine-Sans", 'Times New Roman', Times, serif;
    font-weight: bolder;
    display: inline-grid;
    padding: 0.5em;
    color: black
   
}

.button {
    text-align: center;
    background-color:white;
    border-radius: 25px;
    padding: .75rem;
    font-size: medium;
    border: #E8C4C6;
    
}
.selectBox{
    width: 100px;
    height: 100px;
    text-align: center;
}