@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.container {
    display: grid;
    grid-template-columns: [clm1]250px [clm2] auto [clm3] 250px;
    grid-template-rows: .1fr .2fr 1fr .25fr;
    margin: 0px;
    grid-template-areas: 
    "nav nav nav"
    ". header ."
    ". body ."
    ". . .";
    /* background-size:stretch;
    background-repeat: no-repeat; */
    width: 100vw;
    height: 75vw;
}
#nav {
    grid-area: nav;
    background-color:#508799;
    padding: 1rem;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    pointer-events:painted;
    font-size: larger;
}

h1 {
    grid-area: header;
    background-color:#E8C4C6;
    padding: 2rem;
    text-align: center;
}

.text {
    grid-area: body;
    background-color: #a6a154a9;
    padding: 5rem;
    font-family: "Gilda Display" 'Times New Roman';
    font-size: larger;
    height:75vh
}
 a {
    text-decoration: none;
    color: black;
 }

 a:hover, a:active {
   font-size: 130%;
 }

#nav a{
    text-decoration: none;
    font-family: "Josefine-Sans", 'Times New Roman', Times, serif;
    font-weight: bolder;
    display: inline-grid;
    padding: 0.5em;
    color: black
   
}

.button {
    text-align: center;
    background-color:#E8C4C6;
    border-radius: 25px;
    padding: .25rem;
    font-size: medium;
    border: #E8C4C6;
    
}
.selectBox{
    width: 100px;
    height: 100px;
    text-align: center;
}
