h1 {
    text-align: center;
}

body {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    text-align: center;
    background-color: deeppink;
    border-radius: 25px;
    font-size: medium;
}

.selectBox{
    width: 100px;
    height: 100px;
    text-align: center;
}
