<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Medication Profile</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
    <%- include('../partials/_nav.ejs') %>
    <h1> Create Your Medication Profile</h1>
    <form class="form" action="/drugs" method="POST">
        <div>
            <label for="genericName">Generic Name:</label>
            <input type="text" name="genericName" id="genericName" required>
            <br>
        </div>
        <div>
            <label for="tradeName">Trade Name:</label>
            <input type="text" name="tradeName" id="tradeName" required>
            <br>
        </div>
        <div>
            <label for="reactive">Potential for a hypersensitivity reaction?</label>
            <input type="checkbox" name="reactive" id="reactive">
            <br>
        </div>
        <div>
            <label for="notes">Notes:</label>
            <input type="text" name="notes" id="notes" required>
            <br>
        </div>
        <div>
            <label for="indications">Indications:</label>
            <select name="indications" id="indications" multiple class="selectBox">
                <% indications.forEach (indication => { %>
                    <option value="<%= indication._id %>"> <%= indication.typeOfCancer %> </option>
                <% }); %>
            </select>
            <br>
            <br>
        </div>
        <button type="submit">Add medication</button>
    </form>
  

</body>
</html>

